<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 引入外部配置文件 -->
    <properties resource="demo1/config.properties"/>

    <!--配置别名-->
    <typeAliases>
        <package name="com.javacode2018.chat03.demo1"/>
    </typeAliases>

    <!-- 环境配置，可以配置多个环境 -->
    <environments default="chat04-demo1">
        <!--
            environment用来对某个环境进行配置
            id：环境标识，唯一
         -->
        <environment id="chat04-demo1">
            <!-- 事务管理器工厂配置 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源工厂配置，使用工厂来创建数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="demo1/mapper/UserMapper.xml"/>
    </mappers>

</configuration>
