<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javacode2018.chat03.demo4.mapper.UserMapper">

    <!-- 传递一个String参数，通过name查询 -->
    <select id="getByName" resultType="com.javacode2018.chat03.demo4.model.UserModel">
        <![CDATA[
        SELECT * FROM t_user WHERE name = #{value} LIMIT 1
        ]]>
    </select>

    <!-- 传递一个Map参数，通过map查询 -->
    <select id="getByMap" resultType="com.javacode2018.chat03.demo4.model.UserModel">
    <![CDATA[
        SELECT * FROM t_user WHERE id=#{id} OR name = #{name}
        ]]>
    </select>

    <!--传递一个java对象参数，通过UserFindDto进行查询-->
    <select id="getListByUserFindDto" parameterType="com.javacode2018.chat03.demo4.dto.UserFindDto" resultType="com.javacode2018.chat03.demo4.model.UserModel">
    <![CDATA[
        SELECT * FROM t_user WHERE id=#{userId} OR name = #{userName}
        ]]>
    </select>

    <!-- 传递多参数，且用@param指定参数名称，通过id或者name查询 -->
    <select id="getByIdOrName" resultType="com.javacode2018.chat03.demo4.model.UserModel">
    <![CDATA[
        SELECT * FROM t_user WHERE id=#{userId} OR name = #{userName} LIMIT 1
        ]]>
    </select>

    <!-- 传递一个Collection参数，通过用户id列表查询 -->
    <select id="getListByIdCollection" resultType="com.javacode2018.chat03.demo4.model.UserModel">
    <![CDATA[
        SELECT * FROM t_user WHERE id IN (#{collection[0]},#{collection[1]})
        ]]>
    </select>

    <!--ResultHandler作为参数-->
    <select id="getList" resultType="com.javacode2018.chat03.demo4.model.UserModel">
    <![CDATA[
        SELECT * FROM t_user
        ]]>
    </select>
</mapper>